{% extends 'emails/templateWithButton.html.twig' %}

{% set locale = userLocale is defined ? userLocale|lower : defaultLocale  %}

{% block h1 %}
    {{ 'user.reset.password.title'|trans({}, 'messages', locale) }}
{% endblock %}

{% block content %}
    <p>
        {{ 'user.reset.password.content'|trans({'%firstname%': firstname, '%appName%': app_title}, 'messages', locale)|raw }}
    </p>
{% endblock %}

{% block btn_title %}
    {{ 'user.reset.password.title'|trans({}, 'messages', locale) }}
{% endblock%}
{% block btn_text %}
    {{ 'user.reset.password.title'|trans({}, 'messages', locale)|raw }}
{% endblock%}
