api_platform:
    title: "%env(APP_TITLE)%"
    version: "%env(APP_VERSION)%"
    show_webby: false
    mapping:
        paths:
            - "%kernel.project_dir%/src/Entity"
            - "%kernel.project_dir%/presentation/src"
    formats:
        json: ["application/json"]
    docs_formats:
        html: ["text/html"]
    error_formats:
        json: ["application/json"]
    defaults:
        stateless: true
        cache_headers:
            max_age: 0
            shared_max_age: 0
            vary: ["Content-Type", "Authorization", "Origin"]
            etag: true
    http_cache: ~
    exception_to_status:
        App\Domain\Shop\Catalog\Exception\CategoryNotFoundException: 404
        App\Domain\Shop\Catalog\Exception\ProductNotFoundException: 404
        App\Domain\User\Exception\UserNotFoundException: 404
        App\Domain\User\Exception\Uniqueness\EmailAlreadyUsedException: 409
        App\Domain\User\Exception\Uniqueness\UsernameAlreadyUsedException: 409
        App\Domain\User\Exception\Security\UserLockedException: 423
        App\Domain\User\Exception\RateLimit\ActivationLimitReachedException: 429
        App\Domain\User\Exception\RateLimit\ResetPasswordLimitReachedException: 429
        App\Domain\User\Exception\UserDomainException: 400
        App\Domain\Shop\Exception\ShopDomainException: 400

when@dev:
    api_platform:
        http_cache:
            invalidation:
                enabled: true
                urls: ["%env(VARNISH_URL)%"]

when@prod:
    api_platform:
        http_cache:
            invalidation:
                enabled: true
                urls: ["%env(VARNISH_URL)%"]
