# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    app.path.images: /uploads/images
    app.enabled_locales: "%kernel.enabled_locales%"
    app.default_locale: "%kernel.default_locale%"
    app_title: "%env(resolve:APP_TITLE)%"
    register_token_ttl: "%env(resolve:REGISTER_TOKEN_TTL)%"
    reset_password_token_ttl: "%env(resolve:RESET_PASSWORD_TOKEN_TTL)%"
    mailerFrontLinkRegisterValidation: "%env(resolve:MAILER_URI_FRONT_REGISTER_VALIDATION)%"
    mailerFrontLinkResetPassword: "%env(resolve:MAILER_URI_FRONT_RESET_PASSWORD)%"
    mailer_to: "%env(resolve:MAILER_TO)%"

    ###> symfony/mailer ###
    mailer_dsn: "%env(resolve:MAILER_DSN)%"
    mailer_user: "%env(resolve:MAILER_USER)%"
    mailer_password: "%env(resolve:MAILER_PASSWORD)%"
    mailer_reply: "%env(resolve:MAILER_REPLY)%"
    mailer_port: "%env(resolve:MAILER_PORT)%"
    ###< symfony/mailer ###

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
    App\OpenApi\JwtDecorator:
        decorates: "api_platform.openapi.factory"
        arguments: ["@.inner"]

    App\Serializer\ContextBuilder\AutoGroup:
        decorates: "api_platform.serializer.context_builder"
        arguments: ['@App\Serializer\ContextBuilder\AutoGroup.inner']
        autoconfigure: false

    App\Serializer\ContextBuilder\AdminGroup:
        decorates: "api_platform.serializer.context_builder"
        arguments: ['@App\Serializer\ContextBuilder\AdminGroup.inner']
        autoconfigure: false

    App\EventListener\LocaleListener:
        arguments:
            $translatableListener: "@stof_doctrine_extensions.listener.translatable"
            $enabledLocales: "%app.enabled_locales%"
